@import url("https://fonts.googleapis.com/css2?family=Mulish&family=Space+Grotesk:wght@300;400;500;600;700&display=swap");
body {
	font-family: "Mulish", sans-serif;
	color: #164dac;
	font-size: 16px;
	overflow-x: hidden;
}

h1,
h2,
h3,
h4,
h5,
h6,
.btn {
	font-family: "Space Grotesk", sans-serif;
	font-weight: 400 !important;
}
h2 {
	font-size: 38px;
}
.navbar-brand {
	font-family: "Space Grotesk", sans-serif !important;
}
.btn {
	font-weight: 600 !important;
	border-radius: 5px;
}
.btn-primary {
	background: #004aad;
}
.btn-primary:active,
.btn-primary:hover,
.btn-primary:focus {
	background: #ffb64f;
	color: #004aad;
}

.btn-outline-primary {
	background: #ffb64f;
	color: #004aad;
}
.btn-outline-primary:active,
.btn-outline-primary:hover,
.btn-outline-primary:focus {
	color: #ffb64f;
	background: #004aad;
}
.btn-white {
	background: #fff;
	color: #004aad;
	transition: 0.3s all;
}
.btn-white:hover {
	opacity: 0.5;
	color: #004aad;
	background: #fff;
}
